{% extends 'base.html.twig' %}

{% block title %}Tima Chaussures{% endblock %}

{% block body %}
  <section class="section section-best-seller">
        <h2>Nos Meilleures ventes</h2>
        <div class="product-list">
          <!-- Liste de produits -->
          <div class="product" onclick="openModal(1)">
            <div class="product-image">
              <img src="./images/image.jpg" alt="Chaussure 1" />
            </div>
            <div class="product-info">
              <h2 class="product-titre">Chaussure 1</h2>
              <p class="product-desc">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <p class="product-price">Prix : 7000 <span>Fcfa</span></p>
              <a class="btn-voir" href="./product-detail.html">voir </a>
            </div>
          </div>
          <div class="product" onclick="openModal(1)">
            <div class="product-image">
              <img src="./images/image.jpg" alt="Chaussure 1" />
            </div>
            <div class="product-info">
              <h2 class="product-titre">Chaussure 1</h2>
              <p class="product-desc">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <p class="product-price">Prix : 7000 <span>Fcfa</span></p>
              <a class="btn-voir" href="./product-detail.html">voir </a>
            </div>
          </div>
          <div class="product" onclick="openModal(1)">
            <div class="product-image">
              <img src="./images/image.jpg" alt="Chaussure 1" />
            </div>
            <div class="product-info">
              <h2 class="product-titre">Chaussure 1</h2>
              <p class="product-desc">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <p class="product-price">Prix : 7000 <span>Fcfa</span></p>
              <a class="btn-voir" href="./product-detail.html">voir </a>
            </div>
          </div>
          <div class="product" onclick="openModal(1)">
            <div class="product-image">
              <img src="./images/image.jpg" alt="Chaussure 1" />
            </div>
            <div class="product-info">
              <h2 class="product-titre">Chaussure 1</h2>
              <p class="product-desc">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <p class="product-price">Prix : 7000 <span>Fcfa</span></p>
              <a class="btn-voir" href="./product-detail.html">voir </a>
            </div>
          </div>
          <!-- Ajoutez d'autres produits ici -->
        </div>
      </section>
 <!-- Promotion -->
      <section class="section section-promotion">
        <h2>En Promotion</h2>
        <div class="product-list">
          <!-- Liste de produits -->
          <div class="product" onclick="openModal(1)">
            <div class="product-image">
              <img src="./images/image2.jpg" alt="Chaussure 1" />
            </div>
            <div class="product-info">
              <h2 class="product-titre">Chaussure 1</h2>
              <p class="product-desc">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <p class="product-price">Prix : 7000 <span>Fcfa</span></p>
              <a class="btn-voir" href="./product-detail.html">voir </a>
            </div>
          </div>
          <div class="product" onclick="openModal(1)">
            <div class="product-image">
              <img src="./images/image2.jpg" alt="Chaussure 1" />
            </div>
            <div class="product-info">
              <h2 class="product-titre">Chaussure 1</h2>
              <p class="product-desc">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <p class="product-price">Prix : 7000 <span>Fcfa</span></p>
              <a class="btn-voir" href="./product-detail.html">voir </a>
            </div>
          </div>
          <div class="product" onclick="openModal(1)">
            <div class="product-image">
              <img src="./images/image2.jpg" alt="Chaussure 1" />
            </div>
            <div class="product-info">
              <h2 class="product-titre">Chaussure 1</h2>
              <p class="product-desc">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <p class="product-price">Prix : 7000 <span>Fcfa</span></p>
              <a class="btn-voir" href="./product-detail.html">voir </a>
            </div>
          </div>
          <div class="product" onclick="openModal(1)">
            <div class="product-image">
              <img src="./images/image2.jpg" alt="Chaussure 1" />
            </div>
            <div class="product-info">
              <h2 class="product-titre">Chaussure 1</h2>
              <p class="product-desc">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <p class="product-price">Prix : 7000 <span>Fcfa</span></p>
              <a class="btn-voir" href="./product-detail.html">voir </a>
            </div>
          </div>

          <!-- Ajoutez d'autres produits ici -->
        </div>
      </section>
      <!-- End Promotion -->
      <!-- Enfants -->
      <section class="section section-promotion">
        <h2>Chaussures Enfants</h2>
        <div class="product-list">
          <!-- Liste de produits -->
          <div class="product" onclick="openModal(1)">
            <div class="product-image">
              <img src="./images/image2.jpg" alt="Chaussure 1" />
            </div>
            <div class="product-info">
              <h2 class="product-titre">Chaussure 1</h2>
              <p class="product-desc">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <p class="product-price">Prix : 7000 <span>Fcfa</span></p>
              <a class="btn-voir" href="./product-detail.html">voir </a>
            </div>
          </div>
          <div class="product" onclick="openModal(1)">
            <div class="product-image">
              <img src="./images/image2.jpg" alt="Chaussure 1" />
            </div>
            <div class="product-info">
              <h2 class="product-titre">Chaussure 1</h2>
              <p class="product-desc">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <p class="product-price">Prix : 7000 <span>Fcfa</span></p>
              <a class="btn-voir" href="./product-detail.html">voir </a>
            </div>
          </div>
          <div class="product" onclick="openModal(1)">
            <div class="product-image">
              <img src="./images/image2.jpg" alt="Chaussure 1" />
            </div>
            <div class="product-info">
              <h2 class="product-titre">Chaussure 1</h2>
              <p class="product-desc">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <p class="product-price">Prix : 7000 <span>Fcfa</span></p>
              <a class="btn-voir" href="./product-detail.html">voir </a>
            </div>
          </div>
          <div class="product" onclick="openModal(1)">
            <div class="product-image">
              <img src="./images/image2.jpg" alt="Chaussure 1" />
            </div>
            <div class="product-info">
              <h2 class="product-titre">Chaussure 1</h2>
              <p class="product-desc">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <p class="product-price">Prix : 7000 <span>Fcfa</span></p>
              <a class="btn-voir" href="./product-detail.html">voir </a>
            </div>
          </div>

          <!-- Ajoutez d'autres produits ici -->
        </div>
      </section>
      <!-- End Enfants -->
{% endblock %}
